body {
    background-color: #222;
    position: relative;
    font-family: nunito;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    color: lightgray;
}

h2 {
    text-align: center;
    color: lightgray;
}

h3 {
    text-align: center;
    color: lightgrey;
}

text {
    overflow-wrap: break-word;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-size: 22px;
    width: 100%;
    max-width: 1000px;
    color: rgb(177, 177, 177);
}

.textmuted {
    color: gray;
}

.titlebig {
    color: lightskyblue;
    font-size: 32px;
}

.titlesmall {
    color: lightskyblue;
    font-size: 26px;
}

.link {
    text-decoration: none;
    transition-duration: 0.2s;
    color: rgb(177, 177, 177);
}

.link:hover {
    color: lightskyblue;
}

object {
    display: flex;
    z-index: 9;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    background-color: transparent;
    position: absolute;
    float: left;
    width: 80px;
    top: 33%;
}

.sidebtn {
    background-color: transparent;
    color: lightgrey;
    border: none;
    transition-duration: 0.4s;
    height: 80px;
    width: 80px;
    margin: 10px;
    top: 50%;
}
.sidebtn:hover {
    background-color: #333;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 15px;
}

.cover {
    border-radius: 100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    max-width: 300px;
    width: 50%;
}

.center {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container {
    margin: 75px;
}

.row {
    justify-content: center;
    align-content: center;
    display: flex;
    margin: auto;
    max-width: 70vw;
}

.card {
    background-color: #111;
    justify-content: center;
    align-content: center;
    border: 2px solid transparent;
    color: lightgrey;
    transition-duration: 0.2s;
    border-radius: 25px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin: 1rem;
    height: 400px;
    width: 300px;
}

.card:hover {
    color: lightskyblue;
    border: 2px solid lightskyblue;
    cursor: pointer;
}

.cardimg {
    margin: auto;
    border-radius: 15px;
    margin-top: -23px !important;
    width: 250px;
}

.cardtext {
    text-decoration: none;
    color: inherit;
    margin-top: 40px;
}

.btnimg {
    height: 70px;
    width: 70px;
}

.footer {
    background-color: #111;
}

.footertext {
    font-size: 16px !important;
    margin: 10px;
    width: 100%;

}

@media screen and (max-width:1200px) {
    .sidebar {
        background-color: #333;
        justify-content: center;
        align-content: center;
        display: flex;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        width: 100vw;
        top: 0%;
    }

    .mobilespacer {
        padding: 25px;
    }

    .row {
        display: block;
    }

    .responsive {
        height: 400px;
        width: 300px;
        margin: auto;
        margin-bottom: 50px;
    }
}